VITE_SUPABASE_URL=https://tmkseucvrlnztpgdnrna.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_IZTwdanLgj6VBMIoLyiWxA_QQV_QDNU
VITE_ADMIN_EMAIL=admin@attikid.local
VITE_ENABLE_ANONYMOUS_AUTH=true
